/* --------> Responsividade <-------- */

@media (min-width: 1024px) {

    /* GLOBAL */

    body {
        overflow: auto;
    }

    .wrapper {
        width: min(112rem, 100%);
        display: grid;
    }

    .col-a {
        grid-area: A;
    }

    .col-b {
        grid-area: B;
    }

    section {
        padding-block: 15rem;
    }

    section header h2 {
        font-size: 4rem;
        line-height: 5.2rem;
    }

    img {
        max-width: 200%;
        border-radius: 1rem;
    }

    /* NAVIGATION */

    nav#navigation .wrapper * {
        margin: 0;
        padding: 0;
        visibility: initial;
        display: initial;
        opacity: initial;
        flex-direction: initial;
        position: initial;
        transform: initial;
        background-color: initial;
        filter: initial;
    }

    nav#navigation .close-menu,
    nav#navigation .open-menu,
    nav#navigation .social-links {
        display: none;
    }

    nav#navigation .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 65%;
    }

    nav#navigation .menu ul:nth-child(1) {
        display: flex;
        gap: 3.2rem;
    }

    nav#navigation .menu ul li a {
        color: var(--primary-color);
        font-size: 1.6rem;
    }

    nav#navigation .menu ul li a:hover {
        filter: brightness(0.95);
    }

    nav#navigation .menu a.button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2.4rem;
        border: 1px solid var(--primary-color);
        border-radius: 4rem;
        color: var(--primary-color);
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.8rem;
        text-transform: uppercase;
    }

    nav#navigation .menu a.button:hover {
        background-color: var(--primary-color);
        border: none;
        color: #FFFFFF;
    }

    nav#navigation.scroll .menu ul li a {
        color: #FFFFFF;
    }

    nav#navigation.scroll .menu a.button {
        border-color: #FFFFFF;
        color: #FFFFFF;
    }

    nav#navigation .menu li a {
        transition: opacity 0.8s;
    }

    nav#navigation .menu li a.active,
    nav#navigation .menu li a:hover {
        opacity: 1;
        font-weight: 700;
    }

    nav#navigation .menu li a::after {
        content: '';
        width: 0%;
        height: 2px;
        background-color: var(--primary-color);
        position: relative;
        bottom: -1rem;
        left: -0.8rem;
        display: block;
        transition: width 0.2s;
    }

    nav#navigation.scroll .menu li a::after {
        background-color: #FFFFFF;
    }

    nav#navigation .menu li a.active::after,
    nav#navigation .menu li a:hover::after {
        padding-inline: 0.8rem;
        width: 100%;
    }

    nav#navigation.scroll .menu li a.active,
    nav#navigation.scroll .menu li a:hover {
        opacity: 1;
    }

    nav#navigation.scroll .menu a.button.active,
    nav#navigation.scroll .menu a.button:hover {
        background: #FFFFFF;
        color: var(--primary-color);
        border: none;
    }

    /* HOME */

    #home::before {
        height: calc(55rem + var(--nav-height));
    }

    #home {
        padding-top: var(--nav-height + 2rem);
    }

    #home .wrapper {
        grid-template-columns: 60.5rem 1fr;
        grid-template-areas:
            'A B'
            'C C';
    }

    #home .col-a {
        text-align: left;
        align-self: center;
    }

    #home h1 {
        font-size: 5.2rem;
    }

    #home .content p {
        font-size: 1.8rem;
    }

    #home .stats {
        grid-area: C;
        flex-direction: row;
        padding: 6rem;
        gap: 0;
    }

    #home .stats .stat+.stat {
        border-left: 1px solid var(--primary-color);
    }

    #home .stats .stat {
        flex: 1;
    }

    #home img {
        width: 43rem;
    }

    section .content a,
    #home a {
        margin-inline: 0;
    }

    /* SERVICES */

    #services h2 {
        width: 47rem;
        margin-inline: auto;
    }

    #services .cards {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4rem;
    }

    #services .card {
        width: 30%;
        flex-grow: 1;
    }

    /* ABOUT */

    #about .wrapper {
        grid-template-columns: 48rem 1fr;
        grid-template-areas: 'B A';
        gap: 6.7rem;
    }

    #about .col-a {
        align-self: center;
    }

    #about .content p {
        margin-bottom: 0;
    }

    /* CONTACT */

    #contact .wrapper {
        grid-template-columns: 1fr 57.5rem;
        grid-template-areas: 'A B';
    }

    #contact h2 {
        width: 40.4rem;
    }

    #contact ul li {
        font-size: 1.6rem;
    }

    /* FOOTER */

    footer {
        padding-block: 8rem;
    }

    footer .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'A B';
    }

    footer .col-a {
        align-self: center;
    }

    footer .col-b {
        align-self: center;
        justify-self: flex-end;
    }

    footer p {
        margin-bottom: 0;
        font-size: 1.6rem;
    }
}