/* --------> Global <-------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
}

:root {
    font-size: 62.5%;

    --hue: 0;

    --primary-color: hsl(var(--hue), 65%, 48%);
    --headline: hsl(210, 11%, 15%);
    --paragraph: hsl(210, 9%, 31%);

    --brand-beige: hsl(39, 100%, 97%);
    --brand-light: hsl(calc(var(--hue) - 22), 23%, 89%);
    --brand-light-2: hsl(calc(var(--hue) + 10), 14%, 97%);
    --brand-green: hsl(180, 63%, 98%);

    --brand-dark: hsl(var(--hue), 72%, 30%);

    --nav-height: 7.2rem
}

html {
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    text-align: center;
    overflow: overlay;
    background-color: hsla(0, 0%, 98%, 1);
}

.wrapper {
    width: min(58rem, 100%);
    margin-inline: auto;
    padding-inline: 2.4rem;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    border-radius: 1rem;
}

section {
    padding-block: 10rem;
}

header h4 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.08rem;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

section header h2 {
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--headline);
}

section header h1 {
    font-size: 3.4rem;
    color: var(--headline);
    line-height: 130%;
    margin-bottom: 2.4rem;
}

section .content p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;

    color: var(--paragraph);
}

section .content a,
#home a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26.3rem;
    height: 5.2rem;
    margin: 3.2rem auto 6rem;
    gap: 1.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    background: var(--primary-color);
    border: none;
    border-radius: 4rem;
    cursor: pointer;
}

section .content a:hover,
#home a:hover {
    cursor: pointer;
    background-color: var(--brand-dark);
}

section .content button:active,
#home button:active {
    filter: brightness(0.9);
}

/* custom colors */

#services .card circle {
    fill: var(--brand-light);
}

#navigation .logo path[fill*='#00856F'],
#backToTopButton circle {
    fill: var(--primary-color);
}

button.open-menu path[stroke*='#00856F'],
#contact .info path {
    stroke: var(--primary-color);
}

body.menu-expanded #navigation .logo path,
#navigation.scroll .logo path {
    fill: #FFFFFF;
}

#navigation.scroll button.open-menu path[stroke*='#00856F'] {
    stroke: #FFFFFF;
}

/* --------> NAVEGATION <-------- */

nav {
    display: flex;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .wrapper .logo {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: var(--headline);
}

nav .wrapper .logo span {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
}

nav.scroll {
    background: var(--primary-color);
}

nav.scroll .logo {
    color: #fff;
}

nav.scroll .logo span {
    color: #fff;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
}

/* --------> MENU EXPANDED <-------- */

body.menu-expanded {
    overflow: hidden;
}

body.menu-expanded> :not(nav) {
    visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
    opacity: 1;
    visibility: visible;
}

.menu {
    transform: translateY(100%);
}

nav .menu,
nav .close-menu {
    position: fixed;
}

body.menu-expanded .menu {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--primary-color);

    width: 100vw;
    height: 100vh;

    padding-top: var(--nav-height);

    transition: transform 300ms;
    transform: translateY(0);

}

.menu ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;

    margin-top: 6rem;

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
}

.menu ul li a {
    color: #FFFFFF;
}

.menu ul li a:hover {
    color: #FFFFFF;
}

.menu .button {
    background: #FFFFFF;
    border: 0.2rem solid var(--primary-color);
    border-radius: 4rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;
    text-decoration: none;

    color: var(--primary-color);

    display: inline-block;
    padding: 1.6rem 3.2rem;

    margin-top: 4.8rem;
    margin-bottom: 8rem;
}

.menu .button:hover {
    background-color: var(--primary-color);
    border: 0.2rem solid #FFF;
    color: #FFF;
}

body.menu-expanded .logo,
body.menu-expanded button {
    position: relative;
    z-index: 100;
}

body.menu-expanded .logo {
    color: #FFFFFF;
}

body.menu-expanded .logo span {
    color: #FFFFFF;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}

/* --------> HEADER <-------- */

#home::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(90rem + var(--nav-height));
    background-color: var(--brand-light);
    z-index: -1;
}

#home {
    padding-top: calc(4.1rem + var(--nav-height));
    padding-bottom: 0;
}

#home h1 {
    margin: 1.6rem 0 2.4rem;
    font-size: 3.4rem;
    font-weight: 700;
    color: var(--headline);
}

#home p {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--paragraph);
}

#home img {
    width: 26.4rem;
    display: block;
    margin-inline: auto;
    object-position: 0 2rem;
}

#home .stats {
    width: 100%;
    padding-block: 4rem;
    margin-inline: auto;
    background-color: #FFFFFF;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
}

#home .stat h3 {
    font-size: 4.8rem;
    color: var(--headline);
    line-height: 130%;
    margin-bottom: 0.4rem;
}

#home .stat p {
    margin: 0;
    color: var(--primary-color);
    font-size: 1.6rem;
    line-height: 150%;
}

/* --------> SECTION SERVICES <-------- */

#services header h2 {
    margin-bottom: 6rem;
}

#services .cards {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#services .more {
    margin-top: 2.5rem;
    background-color: var(--primary-color);
    border: none;
    color: #FFFFFF;
    font-size: 2rem;
    margin-inline: auto;
    width: 12.5rem;
    height: 4.5rem;
    cursor: pointer;
}

#services .more:hover {
    background-color: var(--brand-dark);
}

#services .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 1.6rem;
    padding: 2.4rem;
    text-align: start;
    background: #fff;
    border: 0.1rem solid #DCE9E2;
    border-radius: 0.6rem;
}

#services .cards .card h3 {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--headline);
}

#services .cards .card button {
    background-color: var(--primary-color);
    border: none;
    color: #FFFFFF;
    height: 3rem;
    cursor: pointer;
}

#services .cards .card button:hover {
    background-color: var(--brand-dark);
}

/* --------> DEPOIMENTOS <-------- */

#testimonials {
    background: white;
}

#testimonials blockquote {
    padding: 2rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-radius: 0.25rem;
    display: block;
    max-width: 544px;
    margin-left: auto;
    margin-right: auto;
}

#testimonials blockquote p {
    position: relative;
    text-indent: 1.7rem;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    font-style: italic;
    color: var(--headline)
}

#testimonials blockquote p span {
    font: 700 2.5rem serif;
    position: absolute;
    top: -0.5rem;
    left: -1.6rem;
    color: var(--primary-color)
}

#testimonials cite {
    display: flex;
    align-items: center;
    font-style: normal;
    font-size: 1.2rem;
}

#testimonials cite img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    clip-path: circle();
    margin-right: 0.5rem;
}

.swiper-slide {
    height: auto;
    padding: 4rem 1rem;
}

/* --------> SECTION ABOUT <-------- */

#about {
    background-color: hsla(0, 100%, 98%, 1);
}

#about header {
    text-align: left;
}

#about .content p {
    text-align: justify;
    margin-block: 2.4rem 6rem;
}

/* --------> SECTION CONTACT <-------- */

#contact {
    text-align: left;
}

#contact header {
    margin-bottom: 3.2rem;
}

#contact ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 3.2rem;
}

#contact ul li {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.4rem;
}

/* --------> FOOTER <-------- */

footer {
    background-color: var(--primary-color);
    padding-block: 6rem;
    text-align: left;
    color: #FFFFFF;
}

footer .logo {
    display: inline-block;
    margin-bottom: 2.4rem;
    font-size: 3rem;
    font-weight: 400;
    color: #FFFFFF;
}

footer .logo span {
    font-weight: 700;
}

footer p {
    color: var(--brand-beige);
    line-height: 2;
    font-size: 1.4rem;
    margin-bottom: 3.2rem;
}

footer .social-links {
    justify-content: flex-start;
}

/* --------> BACK TO TOP <-------- */

#backToTopButton {
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: 200ms;
}

#backToTopButton.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}